body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f4f7;
}

.App {
  text-align: center;
}

.header {
  background-color: #25364b;
  color: white;
  padding: 1.2rem 0rem;
}

.header h1 {
  margin-bottom: 2rem;
  font-size: 2.4rem;
}

.options {
  background-color: #203a5b;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0px;
  padding: 0.9rem;
}

.options input {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  width: 140px;
}

.options select {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.2rem;
  padding: 1.5rem;
}

@media (max-width: 1400px) {
  .movie-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1100px) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .movie-grid {
    grid-template-columns: 1fr;
  }
}

.movie-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.movie-card h3 {
  margin: 10px 0 15px;
  font-size: 1.3rem;
}

.movie-card p {
  margin: 3px 0 10px;
  font-size: 0.9rem;
  color: black;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 2rem;
}

.pages button {
  background-color: rgb(14, 153, 208);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}
